@define-mixin font-h1 {
	font-size: var(--h1);
	font-weight: 500;
	line-height: var(--h1-lh);
}

@define-mixin font-h2 {
	font-size: var(--h2);
	font-weight: 500;
	line-height: var(--h2-lh);
}

@define-mixin font-h3 {
	font-size: var(--h3);
	line-height: var(--h3-lh);
}

@define-mixin font-h4 {
	font-size: var(--h4);
	line-height: var(--h4-lh);
}

@define-mixin font-h5 {
	font-size: var(--h5);
	line-height: var(--h5-lh);
}

@define-mixin font-text-xl {
	font-size: var(--text-xl);
	line-height: var(--text-xl-lh);
}

@define-mixin font-text-l {
	font-size: var(--text-l);
	line-height: var(--text-l-lh);
}

@define-mixin font-text-xs {
	font-size: var(--text-xs);
	line-height: var(--text-xs-lh);
}
