.root {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: space-between;
	padding-block: 10px;
	padding-inline: 12px;
	background-color: light-dark(
		var(--mantine-color-gray-0),
		var(--mantine-color-dark-7)
	);
	border: 1px solid var(--devgate-card-border-color);
	border-radius: var(--mantine-radius-md);
}

.left {
	display: flex;
	gap: 10px;
	align-items: center;
}

.dot {
	flex-shrink: 0;
	inline-size: 8px;
	block-size: 8px;
	border-radius: 50%;
}

.name {
	font-size: 13px;
	font-weight: 500;
	color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
}

.slo {
	font-size: 11.5px;
	color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-5));
}
