.root {
	display: flex;
	gap: 14px;
	align-items: center;
	inline-size: 100%;
	block-size: 100%;
	padding-inline: 18px;
}

.divider {
	flex-shrink: 0;
	inline-size: 1px;
	block-size: 26px;
	background-color: var(--devgate-card-divider-color);
}
