html {
	font-size: 1vw;
}

body {
	height: 100dvh;
}

button,
a {
	cursor: pointer;
}

picture,
img {
	display: block;
}

textarea {
	overflow: auto;
	resize: none;
}

.main {
	display: flex;
	height: 100dvh;

	& > * {
		flex: 1;
	}
}
