.shell {
	background-color: light-dark(
		var(--mantine-color-gray-0),
		var(--mantine-color-dark-9)
	);
}

.header {
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-8)
	);
	border-bottom: 1px solid var(--devgate-card-border-color);
}

.navbar,
.aside {
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-8)
	);
	border-color: var(--devgate-card-border-color);
}
