.card {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	inline-size: fit-content;
	@mixin responsive gap, 12, 12, 12;
}

.form {
	align-self: center;
	inline-size: 100%;
	block-size: fit-content;
}
