.root {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-block: 16px;
	padding-inline: 18px;
	background-color: light-dark(
		var(--mantine-color-lavender-0),
		var(--mantine-color-dark-7)
	);
	border: 1px solid var(--devgate-card-border-color);
	border-radius: var(--mantine-radius-xl);
}

.name {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
}

.description {
	margin: 0;
	font-size: 14px;
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	padding: 0;
	margin: 0;
	margin-block-start: 4px;
	list-style: none;
}
